
.App{
  width: 100%;
}

.input-small{
  width: 75%;
}

.nav-piece{
  padding: 0px 0px 0px 0px;
  margin: 0px 10px 0px 10px
}

.SignInForm{
  margin: 0px 0px 0px 15px;
}

.about{
  margin: 0px 0px 0px 15px;
}

.nav-list{
  border-bottom: 2px solid grey;
  background-color: #edeff2;
  width: 320px
}

.App-title{ 
  color: #152b4d;  
  font-weight: normal; 
  line-height: 48px;
  margin: 0; 
}

.items-title{
  margin-left: 38px;
}